name: npm
on:
  push:
    branches: [main]
jobs:
  npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: "https://registry.npmjs.org/"
          cache: npm
      - run: npm ci
      - run: npm run build
      - run: npx pleb@6 publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
